body {
    top: 0;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font: 400 16px/1.85 Roboto, sans-serif;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    background-color: var(--background-color);
    color: var(--color);
}

.header {
    text-align: center;
    margin-top: 7em;
    margin-bottom: 3em;
    line-height: 1.2;
    font-weight: 700;
}

.header h1 {
    margin-top: 10px;
    margin-bottom: 10px;   
}

a {
    color: var(--color);
}

button {
    background-color: var(--background-color);
    border: none;
    cursor: pointer;
}

.container:last-of-type {
    margin-top: auto;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    text-align: justify;
    max-width: 720px;
    margin: 0 auto;
}

.content a {
    color: var(--link-color);
}

.content .section {
    width: 100%;
}

.content footer {
    position: absolute;
    bottom: 0;
}

.social-container {
    padding: 2px;
}

.social-item {
    margin: 0 8px;
}

.social-item a {
    text-decoration: none;
}

.social-item .icon {
    transition: scale 300ms ease-in-out;
}

.social-item .icon.dark {
    filter: invert(100%);
}

.social-item .icon:hover {
    transform: scale(1.25);
}

nav.primary {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
    padding: 1em;
}

nav.primary .item {
    width: 100%;
    padding: 1em 0.25em;
    transition: text-decoration 300ms ease-in-out;
    text-decoration: none;
}

nav.primary .item:hover, nav.primary .item.active {
    text-decoration: underline;
}

footer.primary {
    margin: 0 auto;
    max-width: 720px;
}

footer.primary .content {
    padding: 2em;
}

#theme-toggle-button {
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transition: all 100ms ease-in;
}

#theme-toggle-button:hover {
    box-shadow: 0px 0px 12px 8px var(--shadow-color);
    transform: scale(0.9)
}

#todo {
    text-align: center;
}

#badges {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}